{% extends 'layout.html' %}
{% block title %}
Ugly Auth Login
{% endblock %}
{% block content %}
<div id="login_backbox">
	<div id="loginbox">
		<div id="loginbox_inner">
			<div id="login_form_content">
				<h2 class="label">Log In</h2>
				<form action="/login" method="post">
					<div>
						<label class="label">Username:</label>
						<input type="text" name="username">
					</div>
					<div>
						<label class="label">Password:</label>
						<input type="password" name="password">
					</div>
					<div>
						<input type="submit" value="Log In"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}